* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  background-color: #141314;
}

/* Nav(Alpha) Start */

.main-nav {
  height: 10vh;
  width: 100%;
  background-color: #18181c;
}
.eg-logo {
  margin-top: 23px;
  margin-left: 28px;
  cursor: pointer;
  width: 5%;
  height: 100%;
}
.list1 {
  width: 100%;
  height: 100%;
  display: flex;
}
img {
  width: 25px;
  height: 29px;
}
#angle {
  color: gray;
  transform: rotate(90deg);
  font-size: 15px;
  margin: -27px 16px;
  margin-left: 25px;
  transition: 0.4s;
  cursor: pointer;
}
#check {
  position: absolute;
  width: 0;
  height: 0;
}
#angle:hover {
  margin-top: -23px;
  transition: 0.2;
  color: white;
}
#check:checked ~ label .fa-angle-right {
  color: white;
  transform: rotate(270deg);
  transition: 0.4s;
}
#check:checked ~ .nav-menu {
  visibility: visible;
}
.logo {
  background-color: white;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
}
.logo2 {
  width: 23.2px;
  height: 20px;
}
.logo3 {
  width: 21px;
  height: 21px;
}
.logo4 {
  width: 23.5px;
  height: 21px;
}
.logo5 {
  height: 20px;
  width: 23.4px;
}
.sub-menu-item {
  display: flex;
  width: 82%;
  height: 9%;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
}
.sub-menu-item2 {
  width: 105%;
  height: 9%;
  margin-left: 0;
}
.sub-menu-text {
  font-size: 15px;
  color: #cacacf;
  font-weight: 600;
  padding: 5px 10px;
  line-height: 2.2;
  display: flex;
}
.sub-menu-text2 {
  margin-left: 0;
  padding: 5px;
  width: 100%;
  padding-left: 13px;
}
.epic-image {
  width: 18px;
  height: 23px;
  margin-right: 8px;
  position: relative;
  top: 10px;
  left: 10px;
}
.sub-menu-item:hover {
  background-color: #404044;
  transition: 0.2s;
}
.nav-menu {
  display: flex;
  flex-flow: row nowrap;
  width: 44.5%;
  height: 75.5%;
  background-color: #202024;
  position: absolute;
  border-radius: 15px;
  top: 88px;
  left: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 32px 16px, rgba(0, 0, 0, 0.1) 0px 16px 8px,
    rgba(0, 0, 0, 0.1) 0px 8px 4px, rgba(0, 0, 0, 0.1) 0px 4px 2px,
    rgba(0, 0, 0, 0.1) 0px 2px 1px;
  color: white;
  font-family: sans-serif;
  cursor: default;
  padding: 30px;
  visibility: hidden;
  z-index: 4;
}
.nav-border {
  border-left: 2px solid #303034;
  width: 1%;
  height: 48%;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 20px;
}
ul {
  display: flex;
}
.main-nav svg {
  width: 54px;
  height: 32px;
  margin-top: 20px;
  margin-right: 16px;
}
.nav-section {
  color: rgb(172, 172, 172);
  font-size: 14px;
  padding: 4px 16px;
  font-family: sans-serif;
  line-height: 2;
  width: 100%;
  height: 32px;
  background-color: rgb(23, 23, 28);
  margin-top: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.nav-section:hover {
  background-color: #404044;
  color: white;
  transition: 0.3s;
}
.margin {
  width: 107%;
}
.languages {
  margin-left: 640px;
}
#earth {
  color: #98989b;
  font-size: 22px;
  margin-top: 25px;
  cursor: pointer;
}
#earth:hover {
  color: rgb(219, 219, 219);
  transition: 0.3s;
}
.user {
  margin-left: 20px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #303034;
  margin-top: 20px;
  cursor: pointer;
}
.fa-user {
  margin-left: 9px;
  padding-top: 8px;
  color: #9a9a9f;
}
.user:hover .fa-user {
  color: white;
  transition: 0.3s;
}
.download {
  width: 100px;
  height: 30px;
  background-color: #26bbff;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: #2c2c31;
  font-family: sans-serif;
  padding-top: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.text-download {
  font-weight: 550;
  font-size: 15px;
}
.download:hover {
  background-color: #61cdff;
  transition: 0.3s;
}
.room {
  width: 12.3%;
  height: 8%;
  position: absolute;
  right: 70px;
  top: 45px;
  visibility: hidden;
  z-index: 4;
}
.language {
  position: absolute;
  right: 65px;
  top: 90px;
  width: 13%;
  height: 80%;
  background-color: #202024;
  color: #838282;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 20px 10px;
  font-weight: bold;
  cursor: default;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 32px 16px, rgba(0, 0, 0, 0.1) 0px 16px 8px,
    rgba(0, 0, 0, 0.1) 0px 8px 4px, rgba(0, 0, 0, 0.1) 0px 4px 2px,
    rgba(0, 0, 0, 0.1) 0px 2px 1px;
  z-index: 4;
}
.language p {
  width: 100%;
  height: 6.4%;
  border-radius: 20px;
  padding: 8px 10px;
}
.language i {
  font-size: 20px;
  color: #98989b;
  position: absolute;
  top: 0;
  right: 20px;
  margin-top: 23px;
}
.language-hover:hover {
  transition: 0.3s;
  background-color: #404044;
  color: #e6e6ea;
  border-radius: 5px;
  cursor: pointer;
}
#earth:hover ~ .language {
  visibility: visible;
}
#earth:hover ~ .room {
  visibility: visible;
}
.room:hover ~ .language {
  visibility: visible;
}
.room:hover {
  visibility: visible;
}
.language:hover {
  visibility: visible;
}

/* Nav(Alpha) End */

.column1 {
  width: 47%;
  height: 100%;
}
.column2 {
  width: 50%;
  height: 100%;
}
.heading {
  font-size: 20px;
  font-weight: 750;
  color: #ffffff;
  margin-left: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.heading2 {
  margin-top: 50px;
}
.heading3 {
  margin-left: 10px;
}

/* Nav(Beta) Start */

.sub-nav {
  width: 100%;
  height: 15vh;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #141314;
}
.content {
  margin: 0 170px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #141314;
}
.fa-magnifying-glass {
  color: gray;
  font-size: 12px;
  margin-right: 13px;
}
.search {
  background-color: rgb(32 32 32);
  outline: none;
  border: rgb(32 32 32);
  color: white;
}
.search::placeholder {
  color: #aaaaaa;
  font-family: sans-serif;
  letter-spacing: 0.3px;
}
.search-bar {
  max-width: 230px;
  width: 230px;
  height: 40px;
  background-color: rgb(32 32 32);
  border-radius: 22px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.sub-nav-text {
  margin-left: 30px;
  font-family: sans-serif;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}
.color-white {
  color: white;
  cursor: default;
}
.sub-nav-text:hover {
  color: white;
  transition: 0.2s;
}

/* Nav(Beta) End */

/* Header Start */

.header {
  margin: 0 170px;
  width: 74%;
  display: flex;
  height: 67vh;
}
.cover {
  width: 81%;
  height: 100%;
  background-image: url(../image/egs-fortnite-chapter-5-season-1-carousel-desktop-1920x1080-55fe87ee88ef.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
}
.linear-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(11, 11, 11, 0) 0%, #0b0b0b93 100%);
  border-radius: 15px;
}
.Fortnite {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 30px;
  top: 120px;
}
.dead-by-daylight {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 30px;
  top: 120px;
  visibility: hidden;
}
.The-Game-Awards {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 30px;
  top: 120px;
  visibility: hidden;
}
.avatar {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 30px;
  top: 120px;
  visibility: hidden;
}
.Homeworld3 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 30px;
  top: 120px;
  visibility: hidden;
}
.destiny2 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 30px;
  top: 120px;
  visibility: hidden;
}
.transparent-box {
  width: 180px;
  height: 110px;
  background-position: center;
  margin-bottom: 10px;
}
.Fortnite-transparent-box {
  background-image: url(../image/egs-fortnite-chapter-5-season-1-carousel-logo-350x100-bf2fe5c3826a.png);
  width: 220px;
  height: 50px;
  background-size: cover;
  margin-top: 16px;
  margin-bottom: 35px;
}
.The-Game-Awards-transparent-box {
  background-image: url(../image/tga-carousel-logo-350x107-1efb99cf39c9.png);
  width: 200px;
  height: 60px;
  background-size: cover;
  margin-top: 70px;
  margin-bottom: 30px;
}
.Homeworld3-transparent-box {
  background-image: url(../image/egs-homeworld-3-logo-3840x2160-f528e2d9421b.png);
  width: 200px;
  height: 110px;
  background-size: cover;
  margin-top: -20px;
  margin-bottom: 30px;
}
.avatar-transparent-box {
  background-image: url(../image/egs-avatar-frontiers-of-pandora-carousel-logo-333x100-3d052fc3c45b.png);
  width: 200px;
  height: 60px;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 30px;
}
.dead-by-daylight-transparent-box {
  background-image: url(../image/egs-dead-by-daylight-chucky-carousel-logo-350x100-b5942219d6e8.png);
}
.destiny2-transparent-box {
  background-image: url(../image/en-egs-destiny-2-season-23-carousel-logo-350x100-edb915661c75.png);
  width: 210px;
  height: 60px;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 25px;
}
.linear-gradient h3 {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.3333;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.linear-gradient h4 {
  display: block;
  font-size: 15.5px;
  letter-spacing: 0.5px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
  width: 80%;
}
.linear-gradient h2 {
  display: block;
  font-size: 14.5px;
  letter-spacing: 0.5px;
  line-height: 1.3333;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.destiny2 h2,
.Fortnite h2 {
  font-size: 16px;
}
.bold {
  font-size: 18px;
  display: inline;
  font-weight: 100;
  font-family: sans-serif;
}
.bold2 {
  margin-left: 5px;
}
.buy {
  width: 150px;
  height: 50px;
  background-color: white;
  float: left;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 18px 0;
  transition: 0.2s;
}
.buy2 {
  margin-top: 15px;
}
.buy3 {
  width: 175px;
}
.buy:hover {
  color: rgba(0, 0, 0, 0.829);
  transition: 0.3s;
}
.Wishlist {
  width: 160px;
  height: 50px;
  float: left;
  margin-left: 10px;
  text-decoration: none;
  padding-left: 20px;
  border-radius: 4px;
  transition: 0.2s;
}
.circle {
  display: inline-block;
  border: 2px solid white;
  background-color: rgb(22, 21, 21);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: translateY(15px);
}
.fa-plus {
  font-size: 10px;
  text-decoration: none;
  transform: translateX(3px);
  color: white;
  position: relative;
  top: -2px;
  left: 0.8px;
}
.Wishlist p {
  color: white;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: 400;
  transform: translateY(18px);
  font-weight: 600;
  display: inline-block;
  transform: translateY(13px);
  margin-left: 3px;
}
.Wishlist:hover {
  background-color: rgba(255, 255, 255, 0.199);
  transition: 0.4s;
}
.game-title {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  cursor: pointer;
  margin-top: 3px;
  position: relative;
}
.game-title:hover {
  background-color: #ffffff25;
  transition: 0.3s;
}
.column {
  display: flex;
  flex-direction: column;
  width: 17.5%;
  height: 100%;
}
.title-games-image {
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 83%;
  border-radius: 8px;
}
.title-games-text {
  color: white;
  font-size: 11px;
  font-family: sans-serif;
  padding-top: 6px;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  position: absolute;
  right: 18px;
}
.title-games-text2 {
  line-height: 3.2;
  position: absolute;
  left: 60px;
  right: 0;
}
.dead-by-daylight-image {
  background-image: url(../image/egs-dead-by-daylight-chucky-carousel-thumb-1080x1920-f2badcb38e47.jpg);
}
.The-Game-Awards-image {
  background-image: url(../image/en-tga-carousel-thumbnail-1200x1600-23bd2d58faf3.jpg);
}
.Homeworld3-image {
  background-image: url(../image/egs-homeworld-3-epic-thumb-1200x1600-1200x1600-ac4f7a4b136c.jpg);
}
.avatar-image {
  background-image: url(../image/egs-avatar-frontiers-of-pandora-thumb-1200x1600-873f5baecc2f.jpg);
}
.destiny2-image {
  background-image: url(../image/en-egs-destiny-2-season-23-carousel-thumb-1200x1600-a3023eefd46f.jpg);
}
.Fortnite-image {
  background-image: url(../image/egs-fortnite-chapter-5-season-1-carousel-thumbnail-1200x1600-09ee8db90014\ -\ Copy.jpg);
}
.header input {
  width: 0;
  height: 0;
}
#radio1:checked ~ .column .liner1,
#radio2:checked ~ .column .liner2,
#radio3:checked ~ .column .liner3,
#radio4:checked ~ .column .liner4,
#radio5:checked ~ .column .liner5,
#radio6:checked ~ .column .liner6 {
  width: 100%;
  height: 100%;
  background-color: #ffffff25;
}
#radio1:checked ~ .column .liner1 .title-games-image,
#radio2:checked ~ .column .liner2 .title-games-image,
#radio3:checked ~ .column .liner3 .title-games-image,
#radio4:checked ~ .column .liner4 .title-games-image,
#radio5:checked ~ .column .liner5 .title-games-image,
#radio6:checked ~ .column .liner6 .title-games-image {
  -webkit-transition: 200ms cubic-bezier(0.17, 0.17, 0.23, 1);
  width: 43px;
  height: 83.5%;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.17, 0.17, 0.23, 1);
  transition-delay: 0.5s;
  transition: 200ms cubic-bezier(0.17, 0.17, 0.23, 1);
  box-shadow: 0 10px 10px rgba(37, 37, 37, 0.849);
}
#radio1:checked ~ .column .liner1 .bg-color,
#radio2:checked ~ .column .liner2 .bg-color,
#radio3:checked ~ .column .liner3 .bg-color,
#radio4:checked ~ .column .liner4 .bg-color,
#radio5:checked ~ .column .liner5 .bg-color,
#radio6:checked ~ .column .liner6 .bg-color {
  width: 100%;
  visibility: visible;
  transition: 8s;
  transition-timing-function: linear;
  transition-delay: 0.2s;
  border-radius: 7px;
}
.bg-color {
  background-color: rgb(32, 32, 32);
  position: absolute;
  left: 0;
  top: 0;
  width: 2%;
  height: 100%;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  visibility: hidden;
  z-index: -1;
}
#radio6:checked ~ .cover .linear-gradient .Fortnite,
#radio2:checked ~ .cover .linear-gradient .Fortnite,
#radio3:checked ~ .cover .linear-gradient .Fortnite,
#radio4:checked ~ .cover .linear-gradient .Fortnite,
#radio5:checked ~ .cover .linear-gradient .Fortnite {
  visibility: hidden;
}
#radio5:checked ~ .cover {
  background-image: url(../image/egs-dead-by-daylight-chucky-carousel-desktop-1920x1080-8f85c6417e33.jpg);
  width: 81%;
  height: 100%;
  background-size: cover;
  transition-delay: 0.3s;
  transition: 0.2s;
}
#radio2:checked ~ .cover {
  background-image: url(../image/tga-desktop-carousel-asset-1920x1080-0c910128575f.jpg);
  width: 81%;
  height: 100%;
  background-size: cover;
  transition-delay: 0.3s;
  transition: 0.2s;
}
#radio3:checked ~ .cover {
  background-image: url(../image/egs-homewrold-3-carousel-desktop-1920x1080-0ba8d22503a4.jpg);
  width: 81%;
  height: 100%;
  background-size: cover;
  transition-delay: 0.3s;
  transition: 0.2s;
}
#radio4:checked ~ .cover {
  background-image: url(../image/egs-avatar-frontiers-of-pandora-carousel-desktop-1248x702-9346d193b313.jpg);
  width: 81%;
  height: 100%;
  background-size: cover;
  transition-delay: 0.3s;
  transition: 0.2s;
}
#radio6:checked ~ .cover {
  background-image: url(../image/egs-destiny-2-season-23-carousel-desktop-1920x1080-4733c6553a99.jpg);
  width: 81%;
  height: 100%;
  background-size: cover;
  transition-delay: 0.3s;
  transition: 0.2s;
}
#radio1:checked ~ .cover {
  background-image: url(../image/egs-fortnite-chapter-5-season-1-carousel-desktop-1920x1080-55fe87ee88ef.jpg);
  width: 81%;
  height: 100%;
  background-size: cover;
  transition-delay: 0.3s;
  transition: 0.2s;
}
#radio1:checked ~ .cover .linear-gradient .Fortnite {
  visibility: visible;
  transition: 0.2s;
}
#radio2:checked ~ .cover .linear-gradient .The-Game-Awards {
  visibility: visible;
  transition: 0.2s;
}
#radio3:checked ~ .cover .linear-gradient .Homeworld3 {
  visibility: visible;
  transition: 0.2s;
}
#radio4:checked ~ .cover .linear-gradient .avatar {
  visibility: visible;
  transition: 0.2s;
}
#radio5:checked ~ .cover .linear-gradient .dead-by-daylight {
  visibility: visible;
  transition: 0.2s;
}
#radio6:checked ~ .cover .linear-gradient .destiny2 {
  visibility: visible;
  transition: 0.2s;
}

/* Header End */

/* Section1 Start */

.Holiday-Sale-Spotlight {
  width: 76%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: 50px auto;
  position: relative;
}
.Section1-part1 {
  width: 100%;
  height: 5%;
  display: flex;
  margin-top: 10px;
}
.Section1-part2 {
  width: 100%;
  height: 44%;
  display: flex;
  margin-bottom: 50px;
}
.Section1-part3 {
  height: 51%;
  width: 100%;
  position: relative;
  display: flex;
}
.Section1-part2:hover ~ .Section1-part3 {
  margin-top: 425px;
}
.Section1-part2:hover {
  position: absolute;
  height: 52.1%;
}
.Section1-part2:hover .overflow-games {
  margin-top: 50px;
}
.Holiday-Sale-Spotlight-title {
  color: white;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.5px;
  height: 14px;
  cursor: pointer;
}
.Holiday-Sale-Spotlight-title i {
  font-size: 8px;
  margin-top: 6px;
  margin-left: 6px;
  color: rgb(151, 151, 151);
  transition: 0.2s;
}
.Holiday-Sale-Spotlight-title:hover i {
  margin-left: 12px;
  transition: 0.2s;
}
.angle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(32, 32, 32);
}
.angle-left,
.angle-left2,
.angle-left3,
.angle-left4 {
  position: absolute;
  top: 0;
  right: 55px;
  transition: 0.2s;
  cursor: default;
  z-index: -2;
}
.guard {
  position: absolute;
  top: 0;
  right: 55px;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: default;
}
.guard2 {
  z-index: 6;
  position: absolute;
  top: 0;
  right: 7px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: default;
  display: none;
}
#checkbox4:checked ~ .Section1-part1 .row .guard2 {
  display: block;
}
.angle-right,
.angle-right2,
.angle-right3,
.angle-right4,
.angle-right5 {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}
.angle-right2,
.angle-left2,
.angle-right3,
.angle-left3,
.angle-right4,
.angle-left4,
.angle-right5 {
  display: none;
}
.angle-right:hover,
.angle-right2:hover,
.angle-right3:hover,
.angle-right4:hover {
  background-color: #99979732;
  transition: 0.2s;
}
.row i {
  margin-top: 9.8px;
  margin-right: 11px;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
#left {
  color: gray;
  transition: 1s;
}
#right {
  color: white;
  transition: 1s;
}
.overflow {
  width: 100%;
  height: 100%;
  overflow-y: visible;
  display: flex;
  overflow-x: hidden;
  position: relative;
  z-index: 5;
  transition: 1s;
}
.overflow-box {
  width: 19%;
  height: 100%;
  margin-right: 18px;
  cursor: pointer;
}
.opening {
  width: 590px;
}
.category {
  display: flex;
  transition: 1s;
}
.overflow-games {
  width: 187px;
  height: 264px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  position: relative;
}
.category h2 {
  font-family: sans-serif;
  font-size: 9.5px;
  color: gray;
  letter-spacing: 0.2px;
  margin-top: 15px;
  text-transform: uppercase;
}
.category h3 {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  margin-top: 10px;
  line-height: 1.3;
}
.discount {
  width: 41px;
  height: 23px;
  background-color: rgb(0, 116, 228);
  align-items: center;
  color: white;
  border-radius: 4px;
  margin-top: 13px;
  padding: 0 8px;
  line-height: 2.4;
}
.discount-text {
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.flex h1 {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 10px;
}
span {
  color: gray;
}
.flex {
  display: flex;
  line-height: 1.8;
}
.overflow-bg-color {
  width: 100%;
  height: 100%;
  visibility: hidden;
  border-radius: 5px;
}
.overflow-games:hover .overflow-bg-color {
  visibility: visible;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff1c, #ffffff1a);
}
.Wishlist-button {
  right: 11px;
  top: 0;
  position: absolute;
  visibility: hidden;
  transition: 0.2s;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: rgba(22, 21, 21, 0);
}
.Wishlist-button:hover ~ .overflow-bg-color {
  visibility: hidden;
}
.overflow-box:hover .Wishlist-button {
  transition: 0.2s;
  visibility: visible;
  border: 2px solid white;
  background-color: rgb(22, 21, 21);
}
#plus {
  color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
.overflow-box:hover #plus {
  transition: 0.2s;
  visibility: visible;
  color: white;
}
.tooltip {
  width: 140px;
  height: 40px;
  background-color: rgb(36, 34, 34);
  font-family: sans-serif;
  border-radius: 5px;
  font-weight: 600;
  top: -50px;
  left: 100px;
  color: white;
  text-align: center;
  line-height: 3;
  font-size: 14px;
  letter-spacing: 0.5px;
  position: absolute;
  word-spacing: -1px;
  visibility: hidden;
}
.tooltip2 {
  left: 50px;
}
.Wishlist-button:hover ~ .tooltip {
  visibility: visible;
}
.Holiday-Sale-Spotlight input {
  display: none;
}
#checkbox1:checked ~ .Section1-part2 .overflow .category {
  transform: translateX(-75vw);
  transition: 1s;
}
#checkbox2:checked ~ .Section1-part2 .overflow .category {
  transform: translateX(-149.8vw);
  transition: 1s;
}
#checkbox3:checked ~ .Section1-part2 .overflow .category {
  transform: translateX(-224.2vw);
  transition: 1s;
}
#checkbox4:checked ~ .Section1-part2 .overflow .category {
  transform: translateX(-254.6vw);
  transition: 1s;
}
#checkbox1:checked ~ .Section1-part1 .row .selector .angle-left #left {
  color: rgb(255, 255, 255);
  transition: 1s;
}
#checkbox1:checked ~ .Section1-part1 .row .selector .angle-left:hover,
#checkbox1:checked ~ .Section1-part1 .row .selector .angle-left2:hover,
#checkbox1:checked ~ .Section1-part1 .row .selector .angle-left3:hover,
#checkbox1:checked ~ .Section1-part1 .row .selector .angle-left4:hover {
  background-color: #99979732;
  transition: 0.3s;
  cursor: pointer;
}
#checkbox1:checked ~ .Section1-part1 .row .selector .angle-left {
  z-index: 1;
}
#checkbox1:checked ~ .Section1-part1 .row .selector .angle-right2,
#checkbox2:checked ~ .Section1-part1 .row .selector .angle-left2 {
  display: block;
  z-index: 2;
}
#checkbox2:checked ~ .Section1-part1 .row .selector .angle-right3,
#checkbox3:checked ~ .Section1-part1 .row .selector .angle-left3 {
  display: block;
  z-index: 3;
}
#checkbox3:checked ~ .Section1-part1 .row .selector .angle-right4,
#checkbox4:checked ~ .Section1-part1 .row .selector .angle-left4,
#checkbox4:checked ~ .Section1-part1 .row .selector .angle-right5 {
  display: block;
  z-index: 4;
}
#checkbox4:checked ~ .Section1-part1 .row .selector #right {
  color: gray;
  transition: 2s;
}
.witchfire {
  background-image: url(../image/witchfire-obly4.jpg);
}
.Ghostrunner-2 {
  background-image: url(../image/EGS_Ghostrunner2_OneMoreLevel_S2_1200x1600-12ae7597b946ad94ac75680eb735be07.jpg);
}
.Hogwarts-Legacy {
  background-image: url(../image/EGS_HogwartsLegacy_AvalancheSoftware_S2_1200x1600-2bb94423bf1c7e2fca10577d9f2878b9.jpg);
}
.Lords-of-the-Fallen {
  background-image: url(../image/EGS_LordsoftheFallen_HEXWORKS_S2_1200x1600-2976a6dd116b4f9071f5714d4dabd9a5.jpg);
}
.The-Crew™-Motorfest-Standard-Edition {
  background-image: url(../image/EGST_StorePortrait_1200x1600_1200x1600-4e8995358cccb9b278b7556651242032.jpg);
}
.Remnant-2 {
  background-image: url(../image/c6758576-ddd6-4601-b4bb-2769df3c7af3_1200x1600-1486abbf9a713a1d20d7facac9a34195.jfif);
}
.Mortal-Kombat-1 {
  background-image: url(../image/EGS_MortalKombat1_NetherRealmStudios_S4_1200x1600-076e67292bb57f11ebb4465b7e74a65e.jfif);
}
.PAYDAY-3 {
  background-image: url(../image/EGS_PAYDAY3_Starbreeze_S2_1200x1600-80e39c5ee902cba196b484464276c8b7.jfif);
}
.Red-Dead-Redemption-2 {
  background-image: url(../image/RDR2PC1227_Epic\ Games_860x1148-860x1148-b4c2210ee0c3c3b843a8de399bfe7f5c.jpg);
}
.Dead-by-Daylight {
  background-image: url(../image/EGS_DeadbyDaylightUltimateEdition_BehaviourInteractive_Editions_S2_1200x1.jfif);
}
.The-Last-of-Us™-Part-I {
  background-image: url(../image/EGS_TheLastofUsPartI_NaughtyDogLLC_S2_1200x1600-41d1b88814bea2ee8cb7986ec24713e0.jfif);
}
.Marvels-Spider-Man-Remastered {
  background-image: url(../image/EGS_MarvelsSpiderManRemastered_InsomniacGamesNixxesSoftware_S2_1200x1600-7642.jfif);
}
.The-Outlast-Trials {
  background-image: url(../image/EGS_TheOutlastTrials_RedBarrels_S2-1200x1600-c70676de7925195513fa7bc4bc2f1d9b.jpg);
}
.DEATH-STRANDING-DIRECTORs-CUT {
  background-image: url(../image/EGS_DeathStrandingDirectorsCut_KOJIMAPRODUCTIONS_S4_1200x1600-5f99e16507795f9b497716b470.jfif);
}
.KINGDOM-HEARTS-III {
  background-image: url(../image/EGS_KINGDOMHEARTSIIIReMindDLC_SquareEnix_S6-1200x1600-54d8b062dc7488c71874fe2455d6c2bd.jpg);
}
.LEGO®-2-Drive {
  background-image: url(../image/EGS_LEGO2KDrive_VisualConceptsEntertainment_S2_1200x1600-a20702ad15c2a227715c014040d37776.jfif);
}
.KINGDOM-HEARTS {
  background-image: url(../image/EGS_KINGDOMHEARTSHD1525ReMIX_SquareEnix_S6-1200x1600-132fc1f63bf40a41cddbff3bab7acc52.jpg);
}
.Dead-Space {
  background-image: url(../image/EGS_DeadSpace_MotiveStudio_S2_1200x1600-551c16d068cab45b02149e15a43c2413.jfif);
}
.Marvels-Spider-Man-Miles-Morales {
  background-image: url(../image/EGS_MarvelsSpiderManMilesMorales_InsomniacGamesNixxesSoftware_S2_1200x1600-.jfif);
}
.Star-Trek-Resurgence {
  background-image: url(../image/EGS_StarTrekResurgence_Brunerhouse_S2_1200x1600-bfb0c4c9d04e8df95098b7d9fe8ce1b5.jfif);
}
.God-of-War {
  background-image: url(../image/EGS_GodofWar_SantaMonicaStudio_S2_1200x1600-fbdf3cbc2980749091d.jfif);
}
.PC-Building-Simulator-2 {
  background-image: url(../image/S2-EN_1200x1600-5e2457dda0d1e1b219b870812a74ccf0.jfif);
}
.holiday {
  width: 100%;
  height: 100%;
  background-color: #26bbff;
  display: flex;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}
.epic-reward,
.holiday-sale {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-right: 30px;
}
.epic-reward-image {
  background-image: url(../image/en-rewards-boosted-breaker-asset-v3-70dcac343dce.avif);
}
.holiday-sale-image {
  background-image: url(../image/holiday-in-game-events-article-share-image-1920x1080-v4-54c174c04fa8.avif);
}
.part3-bg-color {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(to bottom, #ffffff00, #ffffff00);
}
.holiday:hover .part3-bg-color {
  background: linear-gradient(to bottom, #ffffff1c, #ffffff1a);
}
.Section1-part3 h1 {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 25px;
  margin-left: 20px;
  cursor: pointer;
}
.Section1-part3 p {
  color: gray;
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 13px;
  margin-left: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.Section1-part3 h2 {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid rgb(48, 48, 48);
  width: 80px;
}
.holiday-sale h2 {
  width: 90px;
}
.Section1-part3 h2:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* Section1 End */

/* Section2 Start */

.Developer-Spotlight {
  height: 140vh;
  width: 76%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
}
.section2-part1 {
  margin-bottom: 50px;
}
.section2-title {
  color: white;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
}
.Alan-Wake-2 {
  background-image: url(../image/EGS_AlanWake2_RemedyEntertainment_S2_1200x1600-c7c8091ddac0f9669c8e5905bca88aaa.jfif);
}
.Alan-Wake-2-Deluxe-Edition {
  background-image: url(../image/EGS_AlanWake2DeluxeEdition_RemedyEntertainment_Editions_S2_1200x1600-db032e8c839da2be59801023a4cdf083.jfif);
}
.Alan-Wake’s-American-Nightmare {
  background-image: url(../image/AlanWake_AN_Store_Portrait_Portrait-1280x1420-9ffeb4efd25401f9999aa132f60c3ef3_1200x1600-3ab26e7b70b34dd41228818f353f1.jfif);
}
.awr-transparent {
  background-image: url(../image/Alan_Wake_American_Nightmare_logo-2000x893-c8b2c2f751d25a6d5a59a490d1815fbc.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  visibility: visible;
}
.Control {
  background-image: url(../image/Control_Portrait_Storefront_1200X1600_1200x1600-456c920cae7a0aa9b36670cd5e1237a1.jfif);
}
.Alan-Wake-Remastered {
  background-image: url(../image/en_Remedy_DEER_S2_1200x1600_1200x1600-8024b0d13e7a3f3888cb27df87cf263f.jfif);
}
.section2-part2 {
  width: 98%;
  height: 70%;
  background-color: rgb(42 42 42);
  padding: 30px 40px;
  border-radius: 5px;
}
.section2-part2-title {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  line-height: 1.4;
  align-items: center;
  float: left;
}
.section2-part2 svg {
  width: 35px;
  height: 35px;
  margin-right: 14px;
}
.view-more-btn {
  float: right;
  width: 115px;
  height: 34px;
  border: 1px solid rgb(145 145 145);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.view-more-btn P {
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 2.8;
  color: white;
  cursor: pointer;
}
.view-more-btn:hover {
  background-color: rgba(76, 76, 76, 0.849);
  transition: 0.2s;
}
.side-top {
  display: block;
  height: 15%;
}
.side-bottom {
  display: flex;
  width: 100%;
  height: 100%;
}
.side-left,
.side-right {
  height: 90%;
  width: 50%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.side-left {
  margin-right: 15px;
}
.ad {
  width: 100%;
  height: 65%;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.ad-Destiny2 {
  background-image: url(../image/Free-Game-1_1920x1080-d0877708418750425ae12a2bddae3277.jfif);
}
.ad-footer {
  width: 100%;
  height: 25px;
  background-color: rgb(0, 120, 242);
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ad-footer h1 {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.side-bottom h2 {
  margin-top: 25px;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}
.side-bottom h3 {
  margin-top: 7px;
  color: rgb(146, 145, 145);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5;
}
.ad-mystery-game {
  background-image: url(../image/Free-Game-2-teaser_1920x1080-38e83b583656dfb7b3d290a44cdfc6e8.jfif);
}
.ad-footer2 {
  background-color: black;
}
.side-right h2 {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
  color: rgb(209, 209, 209);
}
.section2-bg-color {
  width: 100%;
  height: 100%;
  visibility: hidden;
  border-radius: 5px;
}
.ad:hover .section2-bg-color {
  visibility: visible;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff1c, #ffffff1a);
}

/* Section2 End */

/* Section3 Start */

.Fortnite-Experiences {
  height: 120vh;
  width: 76%;
  display: flex;
  margin: 10px auto;
  margin-top: 40px;
  flex-wrap: wrap;
  align-content: flex-start;
}
.section3-title {
  color: white;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.5px;
  width: 83%;
  height: 2%;
}
.btn-fortnite {
  float: right;
  width: 15%;
  height: 30px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}
.btn-fortnite h1 {
  font-family: sans-serif;
  font-size: 10.5px;
  letter-spacing: 0.5px;
  color: white;
  text-align: center;
  line-height: 2.7;
  cursor: pointer;
}
.btn-fortnite:hover {
  border: 1px solid rgba(196, 196, 196, 0.637);
}
.fortnite-event {
  width: 31.7%;
  height: 35%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  margin-bottom: 30px;
}
.fortnite-event2 {
  margin-right: 15px;
  margin-left: 15px;
}
.Experience {
  width: 100%;
  height: 65%;
  background-color: #26bbff;
  display: flex;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.lego-fortnite {
  background-image: url(../image/FNJN_01_EGS_Launcher_Blade_2560x1440_2560x1440-9b2da247e66cc11c447d59784923efbd.jfif);
}
.rocket-racing {
  background-image: url(../image/28RR_Launch_KeyArt_EGS_Blade_2560x1440_2560x1440-a135b6067cc5b54497e8bdf4fee721de.jfif);
}
.fortnite-festival {
  background-image: url(../image/FNSP_01_EGS_Launcher_Blade_2560x1440_2560x1440-966445d9d0e9b389b765a8d3da6badb6.jfif);
}
.section3-bg-color {
  width: 100%;
  height: 100%;
  visibility: hidden;
  border-radius: 5px;
}
.Experience:hover .section3-bg-color {
  visibility: visible;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff1c, #ffffff1a);
}
.fortnite-event:hover .Wishlist-button {
  transition: 0.2s;
  visibility: visible;
  border: 2px solid white;
  background-color: rgb(22, 21, 21);
}
#plus {
  color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
.fortnite-event:hover #plus {
  transition: 0.2s;
  visibility: visible;
  color: white;
}
.tooltip3 {
  position: absolute;
  left: 230px;
  top: -50;
}
.fortnite-event h2 {
  font-family: sans-serif;
  font-size: 10px;
  color: rgb(146, 146, 146);
  letter-spacing: 0.2px;
  margin-top: 15px;
  text-transform: uppercase;
}
.fortnite-event h3 {
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(214, 214, 214);
  margin-top: 10px;
  letter-spacing: 0.5px;
}
.fortnite-event h1 {
  color: rgb(214, 214, 214);
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 15px;
}
.fortnit-ad,
.fallguys-ad {
  width: 48%;
  height: 50%;
}
.fortnit-ad {
  margin-right: 30px;
}
.fortnit-ad-image,
.fallguys-ad-image {
  width: 100%;
  height: 70%;
  background-color: #26bbff;
  border-radius: 18px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.fortnit-ad-image {
  background-image: url(../image/egs-fortnite-tmnt-breaker-1920x1080-d832741fe4ac.jpg);
}
.fallguys-ad-image {
  background-image: url(../image/egs-fall-guys-fame-pass-7-breaker-1920x1080-106772628a4e.jpg);
}
.fallguys-ad-image:hover .section3-bg-color,
.fortnit-ad-image:hover .section3-bg-color {
  visibility: visible;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: linear-gradient(to bottom, #ffffff1c, #ffffff1a);
}
.fallguys-ad h1,
.fortnit-ad h1 {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 25px;
  margin-left: 20px;
  cursor: pointer;
}
.fallguys-ad p,
.fortnit-ad p {
  color: gray;
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 13px;
  margin-left: 20px;
  font-weight: 600;
  line-height: 1.4;
}
.fallguys-ad h2,
.fortnit-ad h2 {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid rgb(48, 48, 48);
  width: 110px;
  line-height: 1.3;
}
.fallguys-ad h2:hover,
.fortnit-ad h2:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

/* Section3 End */

/* Section4 Start */

.game-library {
  margin: 0 auto;
  width: 78%;
  height: 70vh;
}
.game-library-box {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  display: flex;
}
.game-library-box ul {
  width: 34%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  color: white;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 2;
  justify-content: space-between;
  padding-right: 8px;
  flex-wrap: wrap;
  margin-left: 15px;
}
.view-more-btn2 {
  width: 106px;
  height: 34px;
  border: 1px solid rgb(145 145 145);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 5px;
}
.view-more-btn2 P {
  font-family: sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 3.3;
  color: white;
  cursor: pointer;
}
.view-more-btn2:hover {
  background-color: rgba(76, 76, 76, 0.849);
  transition: 0.2s;
}
.border {
  border-right: 1px solid rgb(37, 37, 37);
  margin-left: 0;
}
.border2 {
  border-right: 1px solid rgb(37, 37, 37);
}
.game-library-box li {
  width: 100%;
  height: 17%;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 17px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
.game-library-box li:hover {
  background-color: rgb(42 42 42);
}
.game-library-image {
  height: 100%;
  width: 17.3%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  margin-right: 15px;
}
.game-library-box li:hover #plus {
  transition: 0.2s;
  visibility: visible;
  color: white;
}
.game-library-box li:hover .Wishlist-button {
  transition: 0.2s;
  visibility: visible;
  border: 2px solid white;
  background-color: rgb(22, 21, 21);
}
.game-library-box .Wishlist-button {
  top: -11px;
  right: 4px;
}
.game-library-box #plus {
  top: -3px;
}
.game-library-box .tooltip {
  top: -65px;
  left: -40px;
}
.game-library-box li h1 {
  font-size: 13.5px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.game-library-box .discount {
  margin-top: 8px;
}
.game-library-box .flex {
  line-height: 1;
}
.flex h1 {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 12px;
  padding-left: 10px;
}
.flex h2 {
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  padding-top: 10px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.flex h3 {
  color: rgba(255, 255, 255, 0.555);
  font-family: sans-serif;
  font-size: 14.5px;
  padding-top: 5px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.details {
  width: 91px;
  height: 23px;
  background-color: rgb(42 42 42);
  border-radius: 3px;
  display: flex;
  margin-top: 5px;
  padding-top: 2px;
}
.details svg {
  width: 23px;
  height: 23px;
  padding-left: 8px;
  margin-top: -2px;
}
.details p {
  font-size: 9px;
  font-family: sans-serif;
  padding-left: 5px;
  padding-top: 1px;
  letter-spacing: 0.5px;
}
.EA-Sport {
  background-image: url(../image/EGS_EASPORTSFC24StandardEdition_EACanada_S2_1200x1600-37aa3816ed46542836e1068060998810.jfif);
}
.Red-Dead {
  background-image: url(../image/RDR2PC1227_Epic\ Games_860x1148-860x1148-b4c2210ee0c3c3b843a8de399bfe7f5c.jpg);
}
.alan-wake {
  background-image: url(../image/EGS_AlanWake2_RemedyEntertainment_S2_1200x1600-c7c8091ddac0f9669c8e5905bca88aaa.jfif);
}
.Hogwarts-Legacy {
  background-image: url(../image/EGS_HogwartsLegacy_AvalancheSoftware_S2_1200x1600-2bb94423bf1c7e2fca10577d9f2878b9.jfif);
}
.Avatar {
  background-image: url(../image/EGST_StorePortrait_1200x1600_1200x1600-201e8f02dd794c678599d0dcb66d078e.jfif);
}
.Lego-fortnite {
  background-image: url(../image/Blade_1200x1600_1200x1600-fcea56f5eb92df731a89121e2b4416b5.jfif);
}
.Rocket-League {
  background-image: url(../image/EGS_RocketLeague_PsyonixLLC_S2_1200x1600-eeed32ae8de826070bdad6ab622d0018.jfif);
}
.Ghostwire-Tokyo {
  background-image: url(../image/EGS_GhostwireTokyoTall_1200x1600-7b8a36d1dfe782ed625e6c6bba487df9.jfif);
}
.Genshin-Impact {
  background-image: url(../image/EGS_GenshinImpact_miHoYoLimited_S2_1200x1600-c12cdcc2cac330df2185aa58c508e820.jfif);
}
.VALORANT {
  background-image: url(../image/Val_s2_1200x1600-a51221b62f3b4a013a17b22dd983c32c.jfif);
}
.Black-Myth-Wukong {
  background-image: url(../image/black-myth-wukong-1cm8h.jfif);
}
.Homeworld-3 {
  background-image: url(../image/egs-homeworld-3-epic-thumb-1200x1600-1200x1600-ac4f7a4b136c.jpg);
}
.SKULL-AND-BONES™ {
  background-image: url(../image/SAB_Store_Portrait_1200x1600_1200x1600-121f3de29b692d333e0773c7d4a7a432.jfif);
}
.The-Wolf-Among-Us-2 {
  background-image: url(../image/EGS_TheWolfAmongUs2_Telltale_S2_1200x1600-28a121945b86101ea1b20cc3d5f86e78.jfif);
}
.Frostpunk-2 {
  background-image: url(../image/EGS_Frostpunk2_11bitstudios_S2_1200x1600-8b452490754cb4a4fe1a983c533cfb5d.jfif);
}

/* Section4 End */

/* Section5 Start */

.Trending {
  height: 50vh;
  width: 76%;
  display: flex;
  margin: 50px auto;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 130px;
}
.Trending .view-more-btn2 {
  width: 100px;
  margin-right: 20px;
  margin-top: -5px;
}
.section5-title {
  color: white;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
}
.discount2 {
  width: 50px;
}
.Trending .flex h4 {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 10px;
}
.Cursed-to-Golf {
  background-image: url(../image/download-cursed-to-golf-offer-17avs.jfif);
}
.Human-Resource-Machine {
  background-image: url(../image/EGS_HumanResourceMachine_TomorrowCorporation_S2_1200x1600-cc77f5a73a9488836ae8fa580f09454c.jfif);
}
.Honkai-Star-Rail {
  background-image: url(../image/EPIC_EN_1200x1600_1200x1600-1326d55d5f37fde4a54b25fba2257359.jfif);
}
.Lives-Arena {
  background-image: url(../image/9lives-arena-ef21m.jfif);
}
.Five-Nights-at-Freddy {
  background-image: url(../image/download-five-nights-at-freddys-security-breach-offer-xshms.jfif);
}

/* Section5 End */

/* Section6 Start */

.game-library {
  margin: 0 auto;
  width: 78%;
  height: 70vh;
}
.game-library-box {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  display: flex;
}
.game-library-box ul {
  width: 34%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  color: white;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 2;
  justify-content: space-between;
  padding-right: 8px;
  flex-wrap: wrap;
  margin-left: 15px;
}
.view-more-btn2 {
  width: 106px;
  height: 34px;
  border: 1px solid rgb(145 145 145);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 5px;
}
.view-more-btn2 P {
  font-family: sans-serif;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 3.3;
  color: white;
  cursor: pointer;
}
.view-more-btn2:hover {
  background-color: rgba(76, 76, 76, 0.849);
  transition: 0.2s;
}
.border {
  border-right: 1px solid rgb(37, 37, 37);
  margin-left: 0;
}
.border2 {
  border-right: 1px solid rgb(37, 37, 37);
}
.game-library-box li {
  width: 100%;
  height: 17%;
  border-radius: 15px;
  cursor: pointer;
  padding: 8px 17px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}
.game-library-title {
  margin-top: 8px;
}
.game-library-box li:hover {
  background-color: rgb(42 42 42);
}
.game-library-image {
  height: 100%;
  width: 17.3%;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  margin-right: 15px;
}
.game-library-box li:hover #plus {
  transition: 0.2s;
  visibility: visible;
  color: white;
}
.game-library-box li:hover .Wishlist-button {
  transition: 0.2s;
  visibility: visible;
  border: 2px solid white;
  background-color: rgb(22, 21, 21);
}
.game-library-box .Wishlist-button {
  top: -11px;
  right: 4px;
}
.game-library-box #plus {
  top: -3px;
}
.game-library-box .tooltip {
  top: -65px;
  left: -40px;
}
.game-library-box li h1 {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.game-library-box .discount {
  margin-top: 8px;
}
.game-library-box .flex {
  line-height: 1;
}
.flex h1 {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 12px;
  padding-left: 10px;
}
.flex h5 {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 6px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
.flex h3 {
  color: rgba(255, 255, 255, 0.555);
  font-family: sans-serif;
  font-size: 14.5px;
  padding-top: 5px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.details {
  width: 91px;
  height: 23px;
  background-color: rgb(42 42 42);
  border-radius: 3px;
  display: flex;
  margin-top: 5px;
  padding-top: 2px;
}
.details svg {
  width: 23px;
  height: 23px;
  padding-left: 8px;
  margin-top: -2px;
}
.details p {
  font-size: 9px;
  font-family: sans-serif;
  padding-left: 5px;
  padding-top: 1px;
  letter-spacing: 0.5px;
}
.details2 p {
  font-size: 9px;
  font-family: sans-serif;
  padding-top: 1px;
  letter-spacing: 0.5px;
  padding-left: 12px;
}
.Garten-of-Banban {
  background-image: url(../image//garten-of-banban-6-1trpj.png);
}
.Alice-Jigsaw-Wonderland {
  background-image: url(../image/alices-jigsaw-wonderland-chronicles-hx1gn.jpg);
}
.Scaryy-Bingo {
  background-image: url(../image/scaryy-bingo-12kto.png);
}
.Argol-Kronoss-Castle {
  background-image: url(../image/argol--kronoss-castle-1oodl.jpg);
}
.The-Messenger {
  background-image: url(../image/EGS_Sabotage_TheMessenger_Portrait-1280x1440-39da361d51204d1d3c9707bfd3b9b2ea.jpg);
}
.Absolute-Drift {
  background-image: url(../image/EGS_AbsoluteDrift_FunselektorLabsInc_S2-1200x1600-d61d185c1a25c41b211b497b89648832.jpg);
}
.Tchia {
  background-image: url(../image/EGS_Tchia_Awaceb_S2_1200x1600-30ac6c45fa9f00724591b1ca567d8655.jfif);
}
.The-Telltale-Batman-Shadows {
  background-image: url(../image/TheTelltaleBatmanShadowsEdition_Tall-510x680-24368ffb56983936896f0a7d908667ec.jpg);
}
.Burst-Hero {
  background-image: url(../image/burst-hero-15oim.jfif);
}
.Team-Disorder {
  background-image: url(../image/team-disorder-qkq2n.jpg);
}
.Quick-Race {
  background-image: url(../image/quick-race-17e6p.jpg);
}
.Sakura-Day-Mahjong {
  background-image: url(../image/sakura-day-2-mahjong-tjszw.jpg);
}
.Love-Money-Rock-n-Roll {
  background-image: url(../image/love-money-rocknroll-imyl4.jpg);
}

/* Section6 End */

/* Section7 Start */
